.card {
    box-shadow: 0 4px 8px 0 rgba(240, 42, 151, 0.678);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: rgb(194, 28, 144);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(243, 72, 137);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(211, 23, 139);
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
